html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightblue;
}

.product-card {
    width: 18rem;
    height: 24rem;
}

.product-description {
    height: 12rem;
}